[user]
	name = {{ onepasswordRead "op://work/Git Identity TMC/name" }}
	email = {{ onepasswordRead "op://work/Git Identity TMC/email" }}
	signingkey = {{ onepasswordRead "op://work/Git Identity TMC/signingkey" }}
