plugins {
    attention location="file:~/.config/zellij/plugins/zellij-attention.wasm" {
        enabled true
    }
    autolock location="file:~/.config/zellij/plugins/zellij-autolock.wasm" {
        triggers "nvim|vim|git|fzf|zoxide|atuin"
        reaction "normal"
        watch_triggers "claude"
        watch_reaction "normal"
        watch_interval "1.0"
    }
    new-tab-right location="file:~/.config/zellij/plugins/zellij-new-tab-next-to-current.wasm" {
        auto true
    }
}

load_plugins {
    attention
    autolock
    new-tab-right
}

default_layout "default"
show_startup_tips false
support_kitty_keyboard_protocol false

keybinds clear-defaults=true {
  shared {
    bind "Ctrl space" { SwitchToMode "pane"; }
  }
  pane {
    // ペイン操作
    bind "h" { MoveFocus "left"; SwitchToMode "normal"; }
    bind "j" { MoveFocus "down"; SwitchToMode "normal"; }
    bind "k" { MoveFocus "up"; SwitchToMode "normal"; }
    bind "l" { MoveFocus "right"; SwitchToMode "normal"; }
    bind "v" { NewPane "right"; SwitchToMode "normal"; }
    bind "s" { NewPane "down"; SwitchToMode "normal"; }
    bind "q" { CloseFocus; SwitchToMode "normal"; }
    bind "g" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/ghost.wasm" {
        floating true
        shell "zsh"
        shell_flag "-ic"
      }
      SwitchToMode "normal"
    }

    // プラグイン
    bind "m" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/monocle.wasm" {
        floating true
        in_place true
        kiosk true
      }
      SwitchToMode "normal"
    }
    bind "f" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij_forgot.wasm" {
        floating true
        "LOAD_ZELLIJ_BINDINGS" "true"
      }
      SwitchToMode "normal"
    }
    bind "w" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
        floating true
        ignore_case true
        quick_jump true
      }
      SwitchToMode "normal"
    }
    bind "b" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/harpoon.wasm" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "normal"
    }
    bind "c" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/multitask.wasm" {
        floating true
      }
      SwitchToMode "normal"
    }
    bind "d" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zj-docker.wasm" {
        floating true
      }
      SwitchToMode "normal"
    }

    // タブ操作
    bind "t" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-newtab-plus.wasm" {
        floating true
        use_zoxide true
      }
      SwitchToMode "normal"
    }
    bind "x" { CloseTab; SwitchToMode "normal"; }
    bind "n" { GoToNextTab; SwitchToMode "normal"; }
    bind "p" { GoToPreviousTab; SwitchToMode "normal"; }
    bind "1" { GoToTab 1; SwitchToMode "normal"; }
    bind "2" { GoToTab 2; SwitchToMode "normal"; }
    bind "3" { GoToTab 3; SwitchToMode "normal"; }
    bind "4" { GoToTab 4; SwitchToMode "normal"; }
    bind "5" { GoToTab 5; SwitchToMode "normal"; }
    bind "6" { GoToTab 6; SwitchToMode "normal"; }
    bind "7" { GoToTab 7; SwitchToMode "normal"; }
    bind "8" { GoToTab 8; SwitchToMode "normal"; }
    bind "9" { GoToTab 9; SwitchToMode "normal"; }
    bind "r" { SwitchToMode "renametab"; TabNameInput 0; }

    bind "esc" { SwitchToMode "normal"; }
  }
  renametab {
    bind "esc" { UndoRenameTab; SwitchToMode "normal"; }
    bind "enter" { SwitchToMode "normal"; }
  }
  shared_except "normal" {
    bind "Ctrl c" { SwitchToMode "normal"; }
  }
}
